USE [BookStore]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 21.06.2026 15:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[BirthDate] [date] NULL,
	[Biography] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[Title] [nvarchar](300) NOT NULL,
	[AuthorID] [int] NULL,
	[PublisherID] [int] NULL,
	[PublicationYear] [int] NULL,
	[Genre] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BooksFullInfo]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создаём заново
CREATE VIEW [dbo].[vw_BooksFullInfo] AS
SELECT 
    b.BookID, 
    b.ISBN, 
    b.Title, 
    a.LastName + ' ' + a.FirstName AS Author,
    p.PublisherName, 
    b.PublicationYear, 
    b.Genre, 
    b.Price, 
    b.QuantityInStock, 
    b.Description
FROM Books b
LEFT JOIN Authors a ON b.AuthorID = a.AuthorID
LEFT JOIN Publishers p ON b.PublisherID = p.PublisherID;
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[RegistrationDate] [date] NOT NULL,
	[DiscountCardNumber] [nvarchar](20) NULL,
	[DiscountPercent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](20) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ClientID] [int] NULL,
	[EmployeeID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
	[FinalAmount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrdersFullInfo]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OrdersFullInfo] AS
SELECT 
    o.OrderID, 
    o.OrderNumber, 
    o.OrderDate,
    ISNULL(c.LastName + ' ' + c.FirstName, 'Гость') AS ClientName,
    e.LastName + ' ' + e.FirstName AS EmployeeName,
    o.FinalAmount, 
    o.PaymentMethod, 
    o.Status
FROM Orders o
LEFT JOIN Clients c ON o.ClientID = c.ClientID
INNER JOIN Employees e ON o.EmployeeID = e.EmployeeID;
GO
/****** Object:  View [dbo].[vw_BookStock]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_BookStock] AS
SELECT 
    BookID, 
    Title, 
    QuantityInStock, 
    Price,
    Price * QuantityInStock AS TotalValue
FROM Books;
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ActionType] [nvarchar](50) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[RecordID] [int] NULL,
	[OldData] [nvarchar](max) NULL,
	[NewData] [nvarchar](max) NULL,
	[ActionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtSale] [decimal](10, 2) NOT NULL,
	[DiscountPercent] [int] NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[ContactPerson] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[SupplyID] [int] IDENTITY(1,1) NOT NULL,
	[SupplyNumber] [nvarchar](20) NOT NULL,
	[SupplyDate] [datetime] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyDetails]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyDetails](
	[SupplyDetailID] [int] IDENTITY(1,1) NOT NULL,
	[SupplyID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PurchasePrice] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplyDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.06.2026 15:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLog] ON 

INSERT [dbo].[AuditLog] ([AuditID], [UserID], [ActionType], [TableName], [RecordID], [OldData], [NewData], [ActionDate]) VALUES (1, NULL, N'UPDATE_PRICE', N'Books', 1, N'450.00', N'500.00', CAST(N'2026-03-31T01:41:45.663' AS DateTime))
INSERT [dbo].[AuditLog] ([AuditID], [UserID], [ActionType], [TableName], [RecordID], [OldData], [NewData], [ActionDate]) VALUES (2, 1, N'LOGIN', N'Users', NULL, NULL, NULL, CAST(N'2026-04-03T08:51:30.373' AS DateTime))
INSERT [dbo].[AuditLog] ([AuditID], [UserID], [ActionType], [TableName], [RecordID], [OldData], [NewData], [ActionDate]) VALUES (3, 1, N'LOGIN', N'Users', NULL, NULL, NULL, CAST(N'2026-04-03T09:03:47.163' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AuditLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [LastName], [FirstName], [MiddleName], [BirthDate], [Biography]) VALUES (1, N'Булгаков', N'Михаил', N'Афанасьевич', CAST(N'1891-05-15' AS Date), N'Русский писатель советского периода.')
INSERT [dbo].[Authors] ([AuthorID], [LastName], [FirstName], [MiddleName], [BirthDate], [Biography]) VALUES (2, N'Достоевский', N'Фёдор', N'Михайлович', CAST(N'1821-11-11' AS Date), N'Русский писатель, мыслитель, философ.')
INSERT [dbo].[Authors] ([AuthorID], [LastName], [FirstName], [MiddleName], [BirthDate], [Biography]) VALUES (3, N'Толстой', N'Лев', N'Николаевич', CAST(N'1828-09-09' AS Date), N'Один из наиболее известных русских писателей.')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [AuthorID], [PublisherID], [PublicationYear], [Genre], [Price], [QuantityInStock], [Description]) VALUES (1, N'9785171181', N'Мастер и Маргарита', 1, 1, 2023, N'Роман', CAST(500.00 AS Decimal(10, 2)), 200, N'Воланд со своей свитой появляется в Москве.')
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [AuthorID], [PublisherID], [PublicationYear], [Genre], [Price], [QuantityInStock], [Description]) VALUES (2, N'9785041122', N'Преступление и наказание', 2, 2, 2022, N'Роман', CAST(380.00 AS Decimal(10, 2)), 37, N'Роман о студенте Раскольникове.')
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [AuthorID], [PublisherID], [PublicationYear], [Genre], [Price], [QuantityInStock], [Description]) VALUES (3, N'9785389156', N'Война и мир', 3, 5, 2023, N'Роман-эпопея', CAST(890.00 AS Decimal(10, 2)), 5, N'Великое произведение о жизни русского общества.')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Address], [RegistrationDate], [DiscountCardNumber], [DiscountPercent]) VALUES (1, N'Иванова', N'Анна', N'Петровна', N'+79091234567', N'anna@mail.ru', N'г. Черкесск, ул. Ленина, 10', CAST(N'2026-03-25' AS Date), N'00123', 5)
INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Address], [RegistrationDate], [DiscountCardNumber], [DiscountPercent]) VALUES (2, N'Смирнов', N'Дмитрий', N'Алексеевич', N'+79282345678', N'dmitry@mail.ru', N'г. Черкесск, ул. Горького, 25', CAST(N'2026-03-25' AS Date), N'00124', 5)
INSERT [dbo].[Clients] ([ClientID], [LastName], [FirstName], [MiddleName], [Phone], [Email], [Address], [RegistrationDate], [DiscountCardNumber], [DiscountPercent]) VALUES (3, N'Кузнецова', N'Елена', N'Владимировна', N'+79183456789', N'elena@yandex.ru', N'г. Черкесск, ул. Красноармейская, 5', CAST(N'2026-03-25' AS Date), N'00125', 10)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [Position], [Phone], [Email], [HireDate], [Salary]) VALUES (1, N'Мамхягов', N'Давлет', N'Фралевич', N'Директор', N'+79281111111', N'davlet@mail.ru', CAST(N'2020-01-01' AS Date), CAST(80000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [Position], [Phone], [Email], [HireDate], [Salary]) VALUES (2, N'Чотчаева', N'Аминат', N'Руслановна', N'Администратор', N'+79282222222', N'aminat@mail.ru', CAST(N'2021-03-15' AS Date), CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [LastName], [FirstName], [MiddleName], [Position], [Phone], [Email], [HireDate], [Salary]) VALUES (3, N'Байрамукова', N'Мадина', N'Муратовна', N'Продавец', N'+79283333333', N'madina@mail.ru', CAST(N'2022-09-01' AS Date), CAST(35000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [PriceAtSale], [DiscountPercent], [Subtotal]) VALUES (1, 1, 1, 1, CAST(450.00 AS Decimal(10, 2)), 5, CAST(427.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [PriceAtSale], [DiscountPercent], [Subtotal]) VALUES (2, 1, 5, 1, CAST(350.00 AS Decimal(10, 2)), 5, CAST(332.50 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [BookID], [Quantity], [PriceAtSale], [DiscountPercent], [Subtotal]) VALUES (3, 2, 2, 1, CAST(380.00 AS Decimal(10, 2)), 5, CAST(361.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [OrderDate], [ClientID], [EmployeeID], [TotalAmount], [DiscountAmount], [FinalAmount], [PaymentMethod], [Status]) VALUES (1, N'ORD-001', CAST(N'2026-03-25T23:40:46.983' AS DateTime), 1, 3, CAST(800.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(10, 2)), CAST(760.00 AS Decimal(10, 2)), N'Card', N'Cancelled')
INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [OrderDate], [ClientID], [EmployeeID], [TotalAmount], [DiscountAmount], [FinalAmount], [PaymentMethod], [Status]) VALUES (2, N'ORD-002', CAST(N'2026-03-25T23:40:46.983' AS DateTime), 2, 3, CAST(380.00 AS Decimal(10, 2)), CAST(19.00 AS Decimal(10, 2)), CAST(361.00 AS Decimal(10, 2)), N'Cash', N'Completed')
INSERT [dbo].[Orders] ([OrderID], [OrderNumber], [OrderDate], [ClientID], [EmployeeID], [TotalAmount], [DiscountAmount], [FinalAmount], [PaymentMethod], [Status]) VALUES (3, N'ORD-003', CAST(N'2026-03-25T23:40:46.983' AS DateTime), 3, 4, CAST(1780.00 AS Decimal(10, 2)), CAST(178.00 AS Decimal(10, 2)), CAST(1602.00 AS Decimal(10, 2)), N'Card', N'Completed')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address], [Phone], [Email]) VALUES (1, N'АСТ', N'г. Москва, ул. Правды, 24', N'+7 (499) 456-78-90', N'ast@ast.ru')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address], [Phone], [Email]) VALUES (2, N'Эксмо', N'г. Москва, ул. Зорге, 1', N'+7 (495) 123-45-67', N'info@eksmo.ru')
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Address], [Phone], [Email]) VALUES (3, N'Питер', N'г. Санкт-Петербург, пр. Невский, 25', N'+7 (812) 234-56-78', N'piter@piter.com')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address]) VALUES (1, N'ООО "Книготорг"', N'Петрова И.В.', N'+74951234567', N'sales@knigotorg.ru', N'г. Москва, ул. Тверская, 10')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address]) VALUES (2, N'ИП Соколов А.Н.', N'Соколов А.Н.', N'+78122345678', N'sokolov@books.ru', N'г. Санкт-Петербург, пр. Невский, 25')
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [ContactPerson], [Phone], [Email], [Address]) VALUES (3, N'ООО "Учебная литература"', N'Иванова Е.М.', N'+78433456789', N'uchlit@mail.ru', N'г. Казань, ул. Баумана, 15')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplies] ON 

INSERT [dbo].[Supplies] ([SupplyID], [SupplyNumber], [SupplyDate], [SupplierID], [TotalAmount]) VALUES (1, N'POST-001', CAST(N'2026-03-25T23:40:46.980' AS DateTime), 1, CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[Supplies] ([SupplyID], [SupplyNumber], [SupplyDate], [SupplierID], [TotalAmount]) VALUES (2, N'POST-002', CAST(N'2026-03-25T23:40:46.980' AS DateTime), 2, CAST(12000.00 AS Decimal(10, 2)))
INSERT [dbo].[Supplies] ([SupplyID], [SupplyNumber], [SupplyDate], [SupplierID], [TotalAmount]) VALUES (3, N'POST-003', CAST(N'2026-03-25T23:40:46.980' AS DateTime), 4, CAST(25000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Supplies] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplyDetails] ON 

INSERT [dbo].[SupplyDetails] ([SupplyDetailID], [SupplyID], [BookID], [Quantity], [PurchasePrice], [Subtotal]) VALUES (1, 1002, 1, 3, CAST(1555.00 AS Decimal(10, 2)), CAST(4665.00 AS Decimal(10, 2)))
INSERT [dbo].[SupplyDetails] ([SupplyDetailID], [SupplyID], [BookID], [Quantity], [PurchasePrice], [Subtotal]) VALUES (2, 1003, 1, 1, CAST(1222.00 AS Decimal(10, 2)), CAST(1222.00 AS Decimal(10, 2)))
INSERT [dbo].[SupplyDetails] ([SupplyDetailID], [SupplyID], [BookID], [Quantity], [PurchasePrice], [Subtotal]) VALUES (3, 1004, 2, 1, CAST(111.00 AS Decimal(10, 2)), CAST(111.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SupplyDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [IsActive], [LastLogin]) VALUES (1, 1, N'admin', N'admin', N'Admin', 1, CAST(N'2026-06-21T14:54:11.290' AS DateTime))
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [IsActive], [LastLogin]) VALUES (2, 2, N'admin_aminat', N'550a141f12de6341fba65b0ad0433500f4f1c97dfd8fda7a1d3e139b1d4e3d8a', N'Admin', 1, NULL)
INSERT [dbo].[Users] ([UserID], [EmployeeID], [Username], [PasswordHash], [Role], [IsActive], [LastLogin]) VALUES (3, 3, N'seller_madina', N'madina123', N'Seller', 1, CAST(N'2026-05-18T11:37:13.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EAC325E869]    Script Date: 21.06.2026 15:52:28 ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__CAC5E743C34C4206]    Script Date: 21.06.2026 15:52:28 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplies__EA4B00ECB1FAD39A]    Script Date: 21.06.2026 15:52:28 ******/
ALTER TABLE [dbo].[Supplies] ADD UNIQUE NONCLUSTERED 
(
	[SupplyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E427793C58]    Script Date: 21.06.2026 15:52:28 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [QuantityInStock]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [FinalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Supplies] ADD  DEFAULT (getdate()) FOR [SupplyDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [FK_AuditLog_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [FK_AuditLog_Users]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Books]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Suppliers]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplyDetails_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [FK_SupplyDetails_Books]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplyDetails_Supplies] FOREIGN KEY([SupplyID])
REFERENCES [dbo].[Supplies] ([SupplyID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [FK_SupplyDetails_Supplies]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employees]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CHK_Price] CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CHK_Price]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CHK_Quantity] CHECK  (([QuantityInStock]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CHK_Quantity]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CHK_Discount] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(30)))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CHK_Discount]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CHK_PriceAtSale] CHECK  (([PriceAtSale]>=(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CHK_PriceAtSale]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [CHK_QuantityPositive] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [CHK_QuantityPositive]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CHK_OrderStatus] CHECK  (([Status]='Cancelled' OR [Status]='Completed'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CHK_OrderStatus]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [CHK_PurchasePrice] CHECK  (([PurchasePrice]>=(0)))
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [CHK_PurchasePrice]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [CHK_SupplyQuantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [CHK_SupplyQuantity]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Role] CHECK  (([Role]='Accountant' OR [Role]='Seller' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Role]
GO
